############################
# Unity Generated
############################

[Ll]ibrary/
[Ll]ibrary_Backup/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

############################
# Addressables
############################

Assets/AddressableAssetsData/*.bin*

############################
# IDE
############################

.vs/
.idea/

############################
# Visual Studio
############################

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

############################
# VS Code
############################

.vscode/

############################
# OS Files
############################

.DS_Store
Thumbs.db
desktop.ini

############################
# Crash Reports
############################

sysinfo.txt

############################
# Auto Generated
############################

*.apk
*.aab
*.unitypackage